.profile-page {
  min-height: 100vh;
  background: linear-gradient(135deg,#4facfe,#00f2fe);
  padding: 40px;
}

.profile-card {
  max-width: 600px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
}